p {
    color: red;
    text-align: center;
}

body {
    background-image: url("../allimages/godfather.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1{
	color: red;
    text-align: center;
}

img{
	position: 25% 75%
}


